<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="CLIENT_ID" value="3a861907-8a8e-43db-8abd-11e76b9482ab"/>
		<add key="CLIENT_SECRET" value="knFWhcDdyYzrO7f6/8Tgt3CygBt8gj/Gvx/4B6m7VPM="/>
		<add key="RESOURCE" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME" value="/sites/APDMS/"/>
		<add key="SharePointURL" value="https://edeltech.sharepoint.com/sites/APDMS/"/>
		<add key="BASEURI" value="https://{0}/{1}"/>

		<!--<add key="CLIENT_ID" value="ef34787b-b643-4c15-8c3b-39be5426f504"/>
		<add key="CLIENT_SECRET" value="2rdaAQ+YiIKhMVlgYf7b4n070l9ufnpFhC1EpK60s4s="/>
		<add key="RESOURCE" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME" value="/sites/APDMS/No GST 2013-14/"/>
		<add key="SharePointURL" value="https://edeltech.sharepoint.com/sites/APDMS/"/>
		<add key="BASEURI" value="https://{0}/{1}"/>-->

		<!--Destination Sharepoint configuration-->
		<!--<add key="CLIENT_ID" value="bd7e450f-9194-4a88-b89c-e72b156a7219"/>
		<add key="CLIENT_SECRET" value="9BHjlei3a7k0Lq6jO2gAh6TZRawBMBvsITqJtufZz1M="/>
		<add key="RESOURCE" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME" value="/sites/P2P_DEV/"/>
		<add key="SharePointURL" value="https://edeltech.sharepoint.com/sites/P2P_DEV/"/>
		<add key="BASEURI" value="https://{0}/{1}"/>-->

		<add key="CLIENT_ID_DESTINATION" value="3a861907-8a8e-43db-8abd-11e76b9482ab"/>
		<add key="CLIENT_SECRET_DESTINATION" value="knFWhcDdyYzrO7f6/8Tgt3CygBt8gj/Gvx/4B6m7VPM="/>
		<add key="RESOURCE_DESTINATION" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID_DESTINATION" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN_DESTINATION" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/PO/"/>
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Edelweiss Broking Limited/Accounts Payable/"/>-->
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Files/"/>-->
		<add key="DestinationSharePointURL" value="https://edeltech.sharepoint.com/sites/P2PSharePointUtility/"/>
		
		
		<add key="CLIENT_ID_EAML" value="a4f9aa5d-e20c-43ff-adcf-9b507bb7526b"/>
		<add key="CLIENT_SECRET_EAML" value="suSbigpi7RLh7HcFMjPbUpZdNJMJoiH5/KuFxzCq5oE="/>
		<add key="RESOURCE_EAML" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID_EAML" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN_EAML" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME_EAML" value="/sites/SharepointEAML/Edelweiss Asset Management Ltd/"/>
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Edelweiss Broking Limited/Accounts Payable/"/>-->
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Files/"/>-->
		<add key="DestinationSharePointURLEAML" value="https://edeltech.sharepoint.com/sites/SharepointEAML/"/>
		
		
		
		<add key="CLIENT_ID_EBL" value="6b0bc253-61e3-4f05-b134-b852c8ba7300"/>
		<add key="CLIENT_SECRET_EBL" value="n3fgbhBlX45FS6Y79oHMQydqWr5HbluZs7LbiWvlwQI="/>
		<add key="RESOURCE_EBL" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID_EBL" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN_EBL" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME_EBL" value="/sites/SharepointEBL/Edelweiss Broking LTD/"/>
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Edelweiss Broking Limited/Accounts Payable/"/>-->
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Files/"/>-->
		<add key="DestinationSharePointURLEBL" value="https://edeltech.sharepoint.com/sites/SharepointEBL/"/>



		<add key="CLIENT_ID_EFSL" value="3f189a46-0127-42e7-8bd4-eebdca3194ae"/>
		<add key="CLIENT_SECRET_EFSL" value="tcjxHqamCpLXT4yi+WTrt4Mos+u54Vyf9RswZChu+7Q="/>
		<add key="RESOURCE_EFSL" value="00000003-0000-0ff1-ce00-000000000000"/>
		<add key="TENANTID_EFSL" value="02dbf22a-371e-4cac-bdbc-60197ffafbe8"/>
		<add key="SITEDOMAIN_EFSL" value="edeltech.sharepoint.com"/>
		<add key="LEADLIBRARYNAME_EFSL" value="/sites/SharepointEFSL/Edelweiss Financial Service Ltd/"/>
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Edelweiss Broking Limited/Accounts Payable/"/>-->
		<!--<add key="LEADLIBRARYNAME_DESTINATION" value="/sites/P2PSharePointUtility/Files/"/>-->
		<add key="DestinationSharePointURLEFSL" value="https://edeltech.sharepoint.com/sites/SharepointEFSL/"/>
		<add key="BASEURI" value="https://{0}/{1}"/>


		<!--To get Sharepoint Details-->
		<!--<add key="TokenEndPoint" value="https://accounts.accesscontrol.windows.net/02dbf22a-371e-4cac-bdbc-60197ffafbe8/tokens/OAuth/2"/>-->
		<!--<add key="TokenEndPoint" value="https://login.microsoftonline.com/02dbf22a-371e-4cac-bdbc-60197ffafbe8/oauth2/token"/>-->
		<!--<add key="TokenEndPoint" value="https://login.microsoftonline.com/02dbf22a-371e-4cac-bdbc-60197ffafbe8/oauth2/token"/>-->
		<!--<add key="SiteDataEndPoint" value="https://graph.microsoft.com/beta/sites/edeltech.sharepoint.com:/sites/P2P_DEV"/>-->
		<!--<add key="SiteDataEndPoint" value="https://graph.microsoft.com/beta/sites/edeltech.sharepoint.com:/sites/APDMS"/>-->
		<!--<add key="SiteDataEndPoint" value="https://edeltech.sharepoint.com/sites/P2P_DEV"/>-->
		<!--<add key="ListsEndPoint" value="https://graph.microsoft.com/beta/sites/{0}/lists"/>-->
		<!--<add key="ListDataEndPoint" value="https://graph.microsoft.com/beta/sites/{0}/lists/{1}/items?expand=fields"/>-->
		<!--<add key="ListFieldsUpdateEndPoint" value="https://graph.microsoft.com/beta/sites/{0}/lists/{1}/items/{2}/fields"/>-->
		<!--<add key="grant_type" value="client_credentials"/>-->
	</appSettings>
</configuration>